
   <h2 class=""> Welcome to Admin Panel</h2>

<div class="card card-body mt-5 w-50 mx-auto">
    <a class="btn btn-dark btn-block mx-auto mb-2" href="./customerlist">Customer's List</a>
    <a class="btn btn-dark btn-block mx-auto mb-2" href="./retailerlist">Service Provider's List</a>
    <a class="btn btn-dark btn-block mx-auto mb-2" href="./pglist">PG's List</a>

</div>