<body class="bg-dark">

    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Change Password</div>
            <div class="card-body">
                <div class="text-center mb-4">
                    <h4>Change your password</h4>
                    <p> </p>
                </div>
                <form action="/users/changepassword?_method=PUT" method="POST">
                   <div class="form-group">
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" name="cpassword" placeholder="Enter current password" required="required">
                <label for="inputPassword">Current Password</label>
              </div>
            </div>
                   <div class="form-group">
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Enter new password" required="required">
                <label for="inputPassword">New Password</label>
              </div>
            </div>
                    <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
    </div>